@model PeopleViewModel
@{
    ViewData["Title"] = "Peples records";
}

<row class="container-fluid">
    <h1>Welcome to People's records</h1>

    <row class="container-fluid">
        <form asp-controller="People" asp-action="Index" method="post" id="create-form">
            <span asp-validation-for="Person.Name" class="text-danger"></span>
            <input asp-for="Person.Name"/>
            <span asp-validation-for="Person.City"></span>
            <input asp-for="Person.City" />
            <span asp-validation-for="Person.PhoneNumber"></span>
            <input asp-for="Person.PhoneNumber" />
            <input type="submit" value="Add">
            <input type="reset" value="Reset" id="reset">
        </form>
    </row>

    @*<row class="container-fluid" >
        <form asp-controller="People" asp-action="Index/2" method="get"  id="edit-form">
            <input asp-for="PersonId" id="editID" name="id" type="hidden"/>
            <span asp-validation-for="EditPerson.Name" class="text-danger"></span>
            <input asp-for="EditPerson.Name" id="editName" />
            <span asp-validation-for="EditPerson.City"></span>
            <input asp-for="EditPerson.City" id="editCity" />
            <span asp-validation-for="EditPerson.PhoneNumber"></span>
            <input asp-for="EditPerson.PhoneNumber" id="editPhoneNumber" />
            <input type="submit" value="Edit" id="edit-btn">
        </form>
    </row>*@

    <row class="container">
        <form asp-controller="People" asp-action="Index" method="get">
            <label asp-for="Search">Please enter your string to search</label>
            <input asp-for="Search" />
            <input type="submit" value="Search">
        </form>
    </row>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Phone number</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in Model.People)
            {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td>@person.PhoneNumber</td>
                <td><a asp-action="Delete" asp-route-id="@person.ID">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>

</row>

