@model PeopleViewModel
@{
    ViewData["Title"] = "Peples records";
}

<h1 class="align-text-center">Welcome to People's records</h1>

<div class="row py-3">
    <form asp-controller="People" asp-action="Create" method="post" id="create-form" class="p-0">
        <span asp-validation-for="Person.Name" class="text-danger"></span>
        <input asp-for="Person.Name" id="name" placeholder="Enter name" class="me-3" />
        @*<select asp-for="Person.City" asp-items="ViewBag.Cities"></select>*@
        <select asp-for="Person.City" class="me-3" id="addCity">
            <option value="" selected>Select City</option>
            @foreach (City item in Model.Cities)
            {
                <option value="@item.CityId">@item.Name</option>
            }
        </select>
        @*<partial name="_PartialCityView.cshtml"  model="Model.CityViewModel"/>*@
        <select asp-for="Person.Languages" class="multiple-select me-3" data-style="btn-default">
            <option value="" selected>Select Languages</option>
            @foreach (Language item in Model.Languages)
            {
                <option value="@item.LanguageId">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
        <input asp-for="Person.PhoneNumber" id="phone" placeholder="Enter phone number" class="me-3" />
        <input type="submit" class="btn btn-secondary me-3" value="Add">
        <input type="button" class="btn btn-secondary me-3" value="Reset" id="reset" onclick="Clear()">
    </form>
</div>

<div class="row py-3">
    <form asp-controller="People" asp-action="Index" method="get" class="p-0">
        <label asp-for="Search" class="me-3">Please enter your string to search</label>
        <input asp-for="Search" class="me-3" />
        <input type="submit" class="btn btn-secondary" value="Search">
    </form>
</div>

<div class="row p-3" id="edit-div">
    <form asp-controller="People" asp-action="Edit" method="post" id="edit-form" class="p-0">
        <label class="me-3">Edit person </label>
        <input id="editID" name="id" type="hidden" />
        <span asp-validation-for="EditPerson.Name" class="text-danger"></span>
        <input asp-for="EditPerson.Name" id="editName" name="name" class="me-3" placeholder="Enter name" />
        <select asp-for="EditPerson.City" id="selectCity" name="city" class="me-3" placeholder="SElect">
            <option value="" selected>Select City</option>
            @foreach (City item in Model.Cities)
            {
                <option value="@item.CityId">@item.Name</option>
            }
        </select>
        <select asp-for="EditPerson.Languages" class="multiple-select me-3" data-style="btn-default" id="selectLanguage" name="languages">
            <option value="" selected disabled>Select Languages</option>
            @foreach (Language item in Model.Languages)
            {
                <option id="@item.Name" class="edit" value="@item.LanguageId">@item.Name</option>
            }
        </select>

        <span asp-validation-for="EditPerson.PhoneNumber"></span>
        <input asp-for="EditPerson.PhoneNumber" id="editPhoneNumber" name="phoneNumber" class="me-3" placeholder="Enter phonenumber" />
        <input type="submit" class="btn btn-secondary" id="edit-btn" value="Save" />
    </form>
</div>


<div class="row py-3">
    <div class="col">
        <div class="row bg-gradient bg-opacity-75 bg-secondary header-table">
            <div class="col-md-1">ID</div>
            <div class="col-md-1">Name</div>
            <div class="col-md-2">City</div>
            <div class="col-md-4">Languages</div>
            <div class="col-md-2 w-25">Phone number</div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
        @foreach (Person person in Model.People)
        {
            <partial name="_PartialPeopleView.cshtml" model="person" />
        }

    </div>
</div>
