@model PeopleViewModel
@{
    ViewData["Title"] = "Peples records";
}

<row class="container-fluid">
    <h1>Welcome to People's records</h1>

    <row class="container-fluid">
        <form asp-controller="People" asp-action="Index" method="post" id="create-form">
            <span asp-validation-for="Person.Name" class="text-danger"></span>
            <input asp-for="Person.Name" id="name"/>
            <span asp-validation-for="Person.City"></span>
            <input asp-for="Person.City" id="city" />
            <span asp-validation-for="Person.PhoneNumber"></span>
            <input asp-for="Person.PhoneNumber" id="phone" />
            <input type="submit" value="Add">
            <input type="button" value="Reset" id="reset" onclick="Clear()">
        </form>
    </row>

    <row class="container">
        <form asp-controller="People" asp-action="Index" method="get">
            <label asp-for="Search">Please enter your string to search</label>
            <input asp-for="Search" />
            <input type="submit" value="Search">
        </form>
    </row>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Phone number</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in Model.People)
            {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td>@person.PhoneNumber</td>
                <td><a asp-action="Delete" asp-route-id="@person.ID">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>

</row>

